<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Login</title>
</head>
<body>
<h3>Student Login</h3>
<!-- Student Login form -->
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Login using Mobile Number -->
        <label>Enter register Mobile: </label>
        <input type="number" name="mobile" required/><br>

        <label>Enter Password: </label>
        <input type="password" name="loginpass" required/><br>

        <input type="submit" name="submit" id="submit" value="Login" required/>
    </form>
</body>
<script type="text/javascript">
   /* $('button').click(function (que)
        {
            que.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/ques',
                data: {
                    user_question: $('#user_qus').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function () {
                    alert("You sent a question.")
                }
            })
        }); */
</script>
</html>