<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3>Login</h3>
<!-- Student Login form -->
    <form action="" method="POST">
        <!-- Login using Mobile Number -->
        {% csrf_token %}
        <label>Enter register Mobile: </label>
        <input type="number" name="TeacherContact" required/><br>

        <label>Enter Password: </label>
        <input type="password" name="loginpass" required/><br>

        <input type="submit" name="submit" id="submit" value="Login" required/>
    </form>
    <h4>{{ logout }}</h4>
</body>
</html>